<%= form_with model: @task, class: 'new-task-form' do |f| %>

<h2>title</h2>

<div class="field">

<%=f.label :action%>
<%=f.text_field :action, value: nil, placeholder: "Homework"%>

<%=f.label :description%>
<%=f.text_field :description, value: nil, placeholder: "Doing CS Fun Homeowork"%>

<%=f.label :completion_date%>
<%=f.text_field :completion_date, value: nil, placeholder: "2018-09-20"%>

</div>

<%=f.submit "Create new task", class: "button"%>
<%=f.submit "All Tasks", class:"button"%>

<% end %>
