<%= form_with model: @task, class: 'new-task-form' do |f| %>

<h2>New Task Form</h2>

<div class="field">

<%=f.label :action%>
<%=f.text_field :action %>

<%=f.label :description%>
<%=f.text_field :description%>

<%=f.label :completion_date%>
<%=f.text_field :completion_date%>
</div>

<%=f.submit "Update Task", class: "new_button"%>

<button id="all_tasks">
  <a href="/tasks">All Tasks</a>
</button>
<% end %>
